<div class="sensors">
  <div class="container">
    <h1>Sensors</h1>
  
  <% @sensors.each do |s| %> 
  <div class="sensor"> 
	  <p class="content"><%= s.id %></p> 
	  <p class="content"><%= s.name %></p> 
	  <p class="content"><%= s.tipus %></p> 
	  <p class="content"><%= s.model %></p> 
	  <p class="time"><%= s.created_at %></p> 
	</div> 
	<%= link_to "View Readings", sensor_path(s) %>
  <% end %>
  <br>
  <%= link_to 'New Sensor', "sensors/new" %>
  <br>
  <%= link_to 'Back', "/" %>

  </div>
</div>
